{% set sum_pdf_net_total = namespace(value=0) %}
{% set sum_pdf_total = namespace(value=0) %}
<h2 class="text-center">{{ _(title) }}</h2>
<h4>
    {% if filters.month %}
        {{_("Month")}}: {{ _(filters.month) }}
    {% endif %}
</h4>

<hr>
<table class="table table-bordered">
    <thead>
        <tr>
			<th style="width: 8%">{{ _("Document type") }}</th>
			<th style="width: 1%">{{ _("SH") }}</th>
			<th style="width: 10%">{{ _("Amount") }}</th>
			<th style="width: 10%">{{ _("Amount DATEV") }}</th>
			<th style="width: 10%">{{ _("Revenue Account") }}</th>

			<th style="width: 1%">{{ _("Receipt No") }}</th>
			<th style="width: 10%">{{ _("Booking date") }}</th>
			<th style="width: 10%">{{ _("Short date") }}</th>
			<th style="width: 10%">{{ _("Deb.-No.") }}</th>
			<th style="width: 10%">{{ _("Deb.-No. Datev") }}</th>

			<th style="width: 1%">{{ _("Country") }}</th>
			<th style="width: 10%">{{ _("Book text") }}</th>
			<th style="width: 10%">{{ _("St.Rate") }}</th>
			<th style="width: 10%">{{ _("currency") }}</th>
			<th style="width: 10%">{{ _("Export Date") }}</th>
			<th style="width: 10%">{{ _("Company") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            {% set sum_pdf_net_total.value = sum_pdf_net_total.value + row.pdf_net_total|float %}
            {% set sum_pdf_total.value = sum_pdf_total.value + row.pdf_total|float %}
            <tr>
                <td style="text-align: right">{{ row.voucher_type }}</td>
                <td style="text-align: right">{{ row.dc }}</td>
                <td style="text-align: right">{{ row.pdf_total }}</td>
                <td style="text-align: right">{{ row.pdf_total_datev }}</td>
                <td style="text-align: right">{{ row.income_account }}</td>
                <td style="text-align: right">{{ row.invoice_no }}</td>
                <td style="text-align: right">{{ row.pdf_posting_date }}</td>
                <td style="text-align: right">{{ row.posting_date }}</td>
                <td style="text-align: right">{{ row.debit_to }}</td>
                <td style="text-align: right">{{ row.debitor_no_datev }}</td>
                <td style="text-align: right">{{ row.country }}</td>
                <td style="text-align: right">{{ row.journal_text }}</td>
                <td style="text-align: right">{{ row.item_tax_rate }}</td>
                <td style="text-align: right">{{ row.currency }}</td>
                <td style="text-align: right">{{ row.exported_on }}</td>
                <td style="text-align: right">{{ row.company }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>{{_("Net Total")}} {{  frappe.utils.fmt_money(sum_pdf_net_total.value, currency="EUR") }}</p>
<p>{{_("Gross Total")}} {{ frappe.utils.fmt_money(sum_pdf_total.value, currency="EUR") }}</p>
<p class="text-right text-muted">{{_("Printed On")}} {{ frappe.utils.now_datetime() }}</p>
